@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root{
    --fonte-principal: 'Bebas Neue', cursive;
    --fonte-descricao: 'Nunito', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0);
    font-family: var(--fonte-principal);
}
main{
    background-color: rgb(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    height: auto;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    padding-top: .3em;
    font-size: 1.5em;
}
.nav img{
    width: 2.6em;
    margin-left: -500%;
}
.nav img:hover{
    filter: contrast(100);
    transition: 1s;
}
.nav h1{
    margin-left: -50%;
}


.produtos{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 61vh;
    gap: 5px;
}
.box-1{
    padding: 3vh 4vw;
    display: flex;
    flex-direction: column;
    border: 1px solid gainsboro;
    width: 46vw;
    height: 90%;
    margin: 1em auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, .5);
}
.nomePreco{
    display: flex;
    justify-content: space-between;
}
.nomePreco h4{
    font-size: 2em;
}
.nomePreco p{
    font-size: 2em;
    font-weight: bold;
    color: #c40000;
}
.descricao{
    text-align: start;
    font-size: 1.3em;
    width: 42vw;
    font-family: var(--fonte-descricao);
    margin-bottom: .5em;
}
.box-1 .img{
    width: 38vw;
    height: 30vh;
    text-align: center;
}
.img img{
    width: auto;
    margin-top: -3em;
    margin-left: -1.5em;
    height: 30vh;
    filter: drop-shadow(0px 10px 10px rgb(0, 0, 0, .3));
}
#aussie img{
    height: 24vh;
    margin: 0 auto;
    width: auto;
}
#refri img{
    height: 24vh;
    margin: 0 auto;
    width: auto;
    margin-left: -1em;
}

.maisMenos{
    text-align: center;
}
.box-1 button{
    font-size: 2em;
    border: none;
    background-color: rgb(255, 255, 255, 0);
    cursor: pointer;
    top: 28%;
}
#menos{
    color: #850000;
}
#menos:hover{
    color: #c40000;
    transition: .3s;
}
#mais{
    color: #850000;
    
}
#mais:hover{
    color: #c40000;
    transition: .3s;
}
#qtd{
    font-family: var(--fonte-principal);
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    width: 10vw;
    outline: none;
    border: none;
    background-color: rgb(255, 255, 255, 0);
}
.adicionar{
    text-align: center;
}
.adicionar button{
    font-size: 1.5em;
    padding: .1em 1.3em;
    border-radius: 5px;
    margin-top: .2em;
    background-color: white;
    color: #850000;
    border: 1px solid #850000;
    font-family: var(--fonte-principal);
}
.adicionar button:hover{
    background-color: #850000;
    color: white;
    border: 1px solid #850000;
    transition: .3s;
}



.tot{
    display: flex;
    background-color: rgb(214, 214, 214);
}
.tot h2{
    margin: .5em .3em;
    width: 20vw;
    height: 5vh;
    font-size: 2em;
}
.tot p{
    height: 5vh;
    margin-top: .5em;
    font-size: 1.5em;
    margin-left: 1em;
}
#tot{
    font-size: 4em;
    height: 8vh;
    color: #c40000;
}
#tot2{
    font-size: 4em;
    height: 8vh;
    color: #c40000;
}

.resumo{
    display: flex;
    margin-top: .4em;
}
.resumo ul{
    list-style: none;
    width: 50vw;
    height: 9vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.finalizar{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#reset{
    width: 100%;
    height: 3em;
    font-family: var(--fonte-descricao);
    cursor: pointer;
    border: none;
    background-color: white;
    color: #850000;
    border: 1px solid black;
    font-size: 1em;
    font-weight: bold;
}
#reset:hover{
    background-color: #850000;
    color: white;
    border: 1px solid black;
    transition: .3s;
}

.pagar button{
    font-family: var(--fonte-descricao);
    cursor: pointer;
    width: 100%;
    height: 3em;
    border: none;
    background-color: rgb(20, 119, 48);
    color: white;
    border: 1px solid black;
    font-size: 1em;
    font-weight: bold;
}
.pagar button:hover{
    background-color: rgb(30, 173, 71);
    color: white;
    border: 1px solid black;
    transition: .3s;
}


footer{
    text-align: center;
    margin: 4vh auto 2vh auto;
    color: white;
    font-size: 1.5em;
    font-family: var(--fonte-principal);
}
footer a{
    text-decoration: none;
    color: #850000;
}
footer a:hover{
    color: rgb(255, 0, 0);
    transition: .3s;
}


/* Modal */

#modal{
    background-color: white;
    width: 65vw;
    height: 65vh;
    padding: 2em;
    border-radius: 1em;
}

#fade, #modal{
    opacity: 1;
    transition: .5s;
}

#fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 5;
}

#modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

#modal.hide, #fade.hide{
    opacity: 0;
    pointer-events: none;
}

#modal.hide{
    top: 0;
}

#modal ul{
    padding: .5em;
    background-color: rgba(220, 220, 220, 0.514);
    height: 50%;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#modal .pagamento{
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
}
#modal .formas{
    accent-color: #c40000;
}
#modal .valor{
    display: flex;
    padding-top: 3em;
}
#modal .valor p{
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0.4em;
}
#modal button{
    width: 100%;
    height: 10%;
    margin-top: 2em;
    cursor: pointer;
    border: none;
    font-family: var(--fonte-descricao);
    background-color: rgb(20, 119, 48);
    color: white;
    border: 1px solid black;
    font-size: 1em;
    font-weight: bold;
}

#modal button:hover{
    background-color: rgb(30, 173, 71);
    color: white;
    border: 1px solid black;
    transition: .3s;
}

@media screen and (max-width: 791px) { /* de 618 até 790 */
    .nav img{
        margin-left: max(-35vw, -300%);
        margin-left: min(-35vw, -500%);
    }
    .nav h1{
        margin-left: max(-5vw, -30%);
        margin-left: min(-5vw, -40%);
    }
    .descricao{
        text-align: start;
        font-size: 1.3em;
        width: 43vw;
        font-family: var(--fonte-descricao);
        margin-left: -2vw;
        margin-bottom: .5em;
    }
    .box-1:nth-child(2) .img{
        margin-top: 1.8em;
    }
    .box-1:nth-child(6) .img{
        margin-top: 2em;
    }
    .img img{
        width: 100%;
        margin: 0 auto;
        height: auto;
        filter: drop-shadow(0px 10px 10px rgb(0, 0, 0, .3));
    }
    #aussie img{
        width: 80%;
        height: auto;
        margin: 1.5em auto;
    }
    #refri img{
        height: 20vh;
        margin: 0 auto;
        width: auto;
        padding-bottom: 2em;
    }
    .maisMenos{
        text-align: center;
        margin-top: -1em;
        z-index: 1;
    }
    .tot h2{
        margin: .2em .3em;
        width: 20vw;
        height: 5vh;
        font-size: 1.7em;
    }
    #modal h2{
        font-size: 1.4em;
    }
    #modal button{
        width: 100%;
        height: 10%;
        margin-top: 2em;
        cursor: pointer;
        border: none;
        font-family: var(--fonte-descricao);
        background-color: rgb(20, 119, 48);
        color: white;
        border: 1px solid black;
        border-radius: 10px;
        font-size: 1em;
        font-weight: bold;
    }
}
@media screen and (max-width: 617px) { /* de 598 até 616*/
    .nav img{
        margin-left: max(-35vw, -300%);
        margin-left: min(-15vw, -200%);
    }
    .nav h1{
        margin-left: max(-5vw, -30%);
        margin-left: min(-5vw, -10%);
    }
    .box-1{
        padding: 3vh 4vw;
        display: flex;
        flex-direction: column;
        border: 1px solid gainsboro;
        width: max(400px, 60vw);
        width: min(400px, 90vw);
        height: 90%;
        margin: 1em auto;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgb(0, 0, 0, .5);
    }
    .descricao{
        text-align: start;
        font-size: 1.2em;
        width: max(400px, 300vw);
        width: min(375px, 86vw);
        font-family: var(--fonte-descricao);
        margin-left: -2vw;
        margin-bottom: .5em;
    }
    .img{
        margin: 0 auto;
    }
    .img img{
        width: max(300px, 200vw);
        width: min(350px, 200vw);
        margin-left: max(-110px, 50%);
        margin-left: min(-20px, -20%);
        height: auto;
        filter: drop-shadow(0px 10px 10px rgb(0, 0, 0, .3));
    }
    .box-1:nth-child(2) .img{
        margin-top: -.1em;
    }
    #aussie img{
        width: 100%;
        height: auto;
        margin: 1.5em auto;
    }
    .maisMenos{
        text-align: center;
        margin-top: -1.5em;
        z-index: 1;
    }
    #modal h2{
        font-size: 1.2em;
        font-weight: normal;
    }
    
}
@media screen and (max-width: 597px) { /* de 516 até 597*/
    .nav img{
        margin-left: max(-35vw, -300%);
        margin-left: min(-15vw, -200%);
    }
    .nav h1{
        margin-left: max(-5vw, -30%);
        margin-left: min(-5vw, -10%);
    }
    .box-1{
        padding: 3vh 4vw;
        display: flex;
        flex-direction: column;
        border: 1px solid gainsboro;
        width: max(400px, 60vw);
        width: min(400px, 90vw);
        height: 90%;
        margin: 1em auto;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgb(0, 0, 0, .5);
    }
    .descricao{
        text-align: start;
        font-size: 1.2em;
        width: max(400px, 300vw);
        width: min(375px, 86vw);
        font-family: var(--fonte-descricao);
        margin-left: -2vw;
        margin-bottom: .5em;
    }
    .img{
        margin: 0 auto;
    }
    .img img{
        width: max(300px, 200vw);
        width: min(350px, 200vw);
        margin-left: -35%;
        height: auto;
        filter: drop-shadow(0px 10px 10px rgb(0, 0, 0, .3));
    }
    .box-1:nth-child(2) .img{
        margin-top: -.1em;
    }
    #aussie img{
        width: 150%;
        height: auto;
        margin: 1.5em auto;
        margin-left: -25%;
    }
    .resumo{
        display: flex;
        margin-top: .4em;
    }
    .resumo ul{
        font-weight: normal;
        list-style: none;
        overflow: auto;
        width: 50vw;
        height: 9vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        row-gap: 1px;
    }
    .maisMenos{
        text-align: center;
        margin-top: -1.5em;
        z-index: 1;
    }
    #modal h2{
        font-size: 1.2em;
        font-weight: normal;
    }
    #modal button{
        width: 100%;
        height: 10%;
        margin-top: 1em;
        cursor: pointer;
        border: none;
        font-family: var(--fonte-descricao);
        background-color: rgb(20, 119, 48);
        color: white;
        border: 1px solid black;
        font-size: 1em;
        font-weight: bold;
    }
}
@media screen and (max-width: 515px) { /* de 516 até 596*/
    .nav img{
        margin-left: max(-35vw, -300%);
        margin-left: min(-15vw, -200%);
    }
    .nav h1{
        margin-left: max(-5vw, -30%);
        margin-left: min(-5vw, -10%);
    }
    .box-1{
        padding: 3vh 4vw;
        display: flex;
        flex-direction: column;
        border: 1px solid gainsboro;
        width: max(400px, 60vw);
        width: min(400px, 90vw);
        height: 90%;
        margin: 1em auto;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgb(0, 0, 0, .5);
    }
    .descricao{
        text-align: start;
        font-size: 1.2em;
        width: max(400px, 300vw);
        width: min(375px, 86vw);
        font-family: var(--fonte-descricao);
        margin-left: -2vw;
        margin-bottom: .5em;
    }
    .img{
        margin: 0 auto;
    }
    .img img{
        width: max(300px, 200vw);
        width: min(350px, 200vw);
        margin-left: min(-40px, -35%);
        height: auto;
        filter: drop-shadow(0px 10px 10px rgb(0, 0, 0, .3));
    }
    .box-1:nth-child(2) .img{
        margin-top: -.1em;
    }
    #aussie img{
        width: 150%;
        height: auto;
        margin: 1.5em auto;
        margin-left: -20%;
    }
    #refri img{
        height: 20vh;
        margin: 0 auto;
        margin-left: -1.3em;
        width: auto;
        padding-bottom: 2em;
    }
    .resumo{
        width: 40vw;
        display: flex;
        margin-top: .4em;
    }
    .resumo ul{
        font-weight: normal;
        list-style: none;
        overflow: auto;
        width: 50vw;
        height: 9vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        row-gap: 1px;
    }
    .tot p{
        height: 5vh;
        margin-top: .5em;
        font-size: 1.5em;
        margin-left: .1em;
    }
    #tot{
        font-size: 4em;
        height: 8vh;
        color: #c40000;
    }
    .maisMenos{
        text-align: center;
        margin-top: -1.5em;
        z-index: 1;
    }
    #modal .pagamento{
        padding-top: .5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #modal .formas{
        accent-color: #c40000;
    }
    #modal .valor{
        margin-top: -3.8em;
        display: flex;
        justify-content: center;
    }
    #modal .valor p{
        font-size: 1.5em;
        font-weight: bold;
    }
    #modal h2{
        font-size: 1.2em;
        font-weight: normal;
    }
    #modal button{
        width: 100%;
        height: 10%;
        margin-top: .3em;
        cursor: pointer;
        border: none;
        font-family: var(--fonte-descricao);
        background-color: rgb(20, 119, 48);
        color: white;
        border: 1px solid black;
        font-size: 1em;
        font-weight: bold;
    }
    footer{
        height: 1vh;
    }
}
@media screen and (max-width: 451px) { /* de 516 até 596*/
    .nav img{
        margin-left: max(-35vw, -300%);
        margin-left: min(-15vw, -200%);
    }
    .nav h1{
        margin-left: max(-5vw, -30%);
        margin-left: min(-5vw, -10%);
    }
    .box-1{
        padding: 3vh 4vw;
        display: flex;
        flex-direction: column;
        border: 1px solid gainsboro;
        width: max(400px, 60vw);
        width: min(400px, 90vw);
        height: 90%;
        margin: 1em auto;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgb(0, 0, 0, .5);
    }
    .descricao{
        text-align: start;
        font-size: 1.2em;
        width: max(400px, 300vw);
        width: min(375px, 86vw);
        font-family: var(--fonte-descricao);
        margin-left: -2vw;
        margin-bottom: .5em;
    }
    .img{
        margin: 0 auto;
    }
    .img img{
        width: max(300px, 200vw);
        width: min(250px, 100vw);
        margin-left: -59%;
        height: auto;
        filter: drop-shadow(0px 10px 10px rgb(0, 0, 0, .3));
    }
    .box-1:nth-child(2) .img{
        margin-top: -.1em;
    }
    #aussie img{
        width: 200%;
        height: auto;
        margin: 1.5em auto;
        margin-left: -45%;
    }
    #refri img{
        height: 20vh;
        margin: 0 auto;
        margin-left: -3.3em;
        width: auto;
        padding-bottom: 2em;
    }
    .resumo{
        width: 40vw;
        display: flex;
        margin-top: .4em;
    }
    .resumo ul{
        font-weight: normal;
        list-style: none;
        overflow: auto;
        width: 50vw;
        height: 9vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        row-gap: 1px;
    }
    .tot p{
        height: 5vh;
        margin-top: .5em;
        font-size: 1.5em;
        margin-left: .1em;
    }
    #tot{
        margin-top: .6em;
        margin-left: -.5em;
        font-size: 3em;
        height: 8vh;
        color: #c40000;
    }
    .maisMenos{
        text-align: center;
        margin-top: -1.5em;
        z-index: 1;
    }
    #modal ul{
        padding: .5em;
        background-color: rgba(220, 220, 220, 0.514);
        height: 25%;
        list-style: none;
        overflow: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #modal .pagamento{
        padding-top: .5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #modal .formas{
        accent-color: #c40000;
    }
    #modal .valor{
        margin-top: -3em;
        display: flex;
        justify-content: center;
    }
    #modal .valor p{
        font-size: 1em;
        font-weight: normal;
    }
    #modal h2{
        font-size: 1em;
        font-weight: normal;
    }
    #modal button{
        width: 100%;
        height: 10%;
        margin-top: 2em;
        cursor: pointer;
        border: none;
        font-family: var(--fonte-descricao);
        background-color: rgb(20, 119, 48);
        color: white;
        border: 1px solid black;
        font-size: 1em;
        font-weight: bold;
    }
    footer{
        height: 1vh;
    }
}

